{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">


                    <div class="team-item product_data"><!-- JAVASCRIPT ADD TO CART INCREMENT -->
                        <div class="position-relative rounded-top" style="z-index: 1;">
                            <!--<img class="img-fluid rounded-top w-100" src="{{ fish.fish_img.url }}" alt="">-->
                            
                            <img class="img-fluid rounded-top w-100" src="{{ fish.fish_img.url }}" alt="">
                            <div class="position-absolute top-100 start-50 translate-middle bg-light rounded p-2 d-flex">
                          
                            
                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                                <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                            </div>
                            <!--ADD TO CART QUANTITY START-->
                            <div class="position-absolute top-100 start-50 translate-middle bg-light rounded p-2 d-flex">
                                {% csrf_token %}


                                <input type="hidden" value="{{fish.id}}" class="prod_id">
                                <label for="Quantity">Quantity</label>
                                <div class="input-group text-center mb-3" style="width:130px;">
                                    <button class="input-group-text decrement-btn">-</button>
                                    <input type="text" name="quantity" class="form-control qty-input text-center" value="1">
                                    <button class="input-group-text increment-btn">+</button>
                                </div>   
                                
                            </div>  

                            <!--ADD TO CART QUANTITY END-->
                        </div>
                        <div class="team-text position-relative bg-light text-center rounded-bottom p-4 pt-5">
                            <h4 class="mb-2">{{fish.fish_name}}</h4>
                            <h6 class="mb-2">Available stocks:{{fish.available_qty}}</h6>
                            {% if fish.available_qty > 0 %}   
                                <button type="button" class="btn btn-primary me-3 addToCartBtn"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                            {% endif %}
                                <button type="button" class="btn btn-primary me-3 dddd"><i class="fa fa-heart"></i> Add to Wishlist</button>
                        </div>
                    </div>
                </div>
</div>
{% endblock %}