{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid py-3">
	<div class="container">
	<form action="{% url 'placeorder' %}" method="POST">
	
	<div class="row">
	
		{% csrf_token %}
		<div class="col-md-7 shadow checkoutform">
			<div class="card-body">
				<h6>Basic Detail</h6>
				<hr>
				<div class="row">
					<div class="col-md-6 mt-2">
						<label>First Name</label>
						<input type="text" required value="{{ request.user.first_name }}"class="form-control" name="fname" placeholder="Enter Fist Name">
					</div>
					<div class="col-md-6 mt-2">
						<label>Last Name</label>
						<input type="text" required value="{{ request.user.last_name }}"class="form-control" name="lname" placeholder="Enter Last Name">
					</div>
					<div class="col-md-6 mt-2">
						<label>Email</label>
						<input type="text" required value="{{ request.user.email }}"class="form-control" name="email" placeholder="Enter Email">
					</div>
					<div class="col-md-6 mt-2">
						<label>Phone</label>
						<input type="text"required value="{{ userprofile.phone }}"class="form-control" name="phone" placeholder="Enter Phone">
					</div>
					<div class="col-md-12 mt-2">
						<label>Address</label>
						<input type="text" required value="{{ userprofile.address }}"class="form-control" name="address" placeholder="Enter Address">
					</div>
					<div class="col-md-6 mt-2">
						<label>Region</label>
						<input type="text" required value="{{ userprofile.region }}"class="form-control" name="region" placeholder="Enter Region">
					</div>
					<div class="col-md-6 mt-2">
						<label>City</label>
						<input type="text" required value="{{ userprofile.city }}"class="form-control" name="city" placeholder="Enter City">
					</div>
					<div class="col-md-6 mt-2">
						<label>Zip Code</label>
						<input type="text" required value="{{ userprofile.zipcode }}"class="form-control" name="zipcode" placeholder="Enter Zip Code">
					</div>	
	
				</div>	
				
			</div>
		</div> 

		<div class="col-md-5">
				<div class="card shadow">
					<div class="card-body">
						<h6>Order Summary</h6>
							<hr>
							{% csrf_token %}
							{% if cartitems %}
							<table class="table table-stripeds table-bordereds">
								<thead>
									<tr>
										<th>Product</th>
										<th>Qty</th>
										<th>Price</th>
												
									</tr>
								</thead>
									<tbody>
										{% for item in cartitems %}
											<tr>
												<td>
													<img src="{{item.product.fish_img.url}}" height="50px" width="50px"class="me-2">
													{{item.product.fish_name}}
												</td>
												<td>{{item.product_qty}}</td>
												<td>{{item.product.fish_price | stringformat:'d'}}</td>
												</tr>
										{% endfor %}
									</tbody>
							</table>
							<h6 class="fw-bold">Grand Total
								<span class="float-end">Php {{total_price | stringformat:'d'}}</span>
							</h6>
							<input type="hidden" value="COD" name="payment_mode">
							<div class="mt-2">
								<button type="submit" class="btn btn-success w-100 ">COD | Place Order</a></button>
						    </div>
						    <div class="mt-2">
								
								<button type="button" class="btn btn-primary w-100 payWithRazorPay">Pay with | Razor Pay</a></button>
						    </div>
						    <div class="mt-2">
						    	<div id="paypal-button-container"></div>
						    </div>
							{% else %}
							<h6>No Item for Check-out</h6>
							{% endif %}
							</div>
					</div>
				</div
		</div>

	</div>

	</div>
	</form>




</div>


{% endblock %}
<!--{% block scripts %}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
{% endblock scripts%}-->